.form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: #ededed;
  }
  
  .login-form {
    width: 100vh;
  }